@font-face {
    font-family: 'DM Sans';
    src: url('https://kolehmaineniina.github.io/fonts/DMSans[opsz,wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'DM Sans';
    src: url('https://kolehmaineniina.github.io/fonts/DMSans[opsz,wght].ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  

@font-face {
    font-family: 'Source Sans 3';
    src: url('https://kolehmaineniina.github.io/fonts/SourceSans3[wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Source Sans 3';
    src: url('https://kolehmaineniina.github.io/fonts/SourceSans3[wght].ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Caveat';
    src: url('https://kolehmaineniina.github.io/fonts/Caveat[wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
  font-family: 'Caveat';
  src: url('https://kolehmaineniina.github.io/fonts/Caveat[wght].ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'DM Sans', 'Verdana', 'Arial', sans-serif;
  --dark-color: #0a0b04;
  --grey-color: #131313;
  --light-color: #f2f2f2;
  --main-color-dark: #a49e12;
  --main-color-light: #d7dd65;
  --accent-color: hsl(335, 86%, 63%); 
  --accent-color-light: hsl(335, 86%, 75%); 
  --accent-color-dark: hsl(335, 85%, 25%);

  }

.container {
  max-width: 90vw;
  height: 100%; 
  margin: 0 auto;  
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

@media (max-width: 768px) {
  .container {
      max-width: 90vw; 
  }
}


ul {
  list-style: none;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 50px;
  width: 100%;
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--main-color-light);
  
}

nav ul {
  display: flex; 
  list-style: none; 
  gap: 20px;
  margin: 0; 
  padding: 0; 
}

nav li {
  margin: 0;
}

nav a {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    text-transform: lowercase;
    color: var(--light-color)
}

nav #logo img {
  height: 40px;
  width: auto;
  display: block;
  padding-bottom: 5px;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;            
  line-height: 1.5;                          
  align-items: center;
}


h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 2rem;
  margin-bottom: 15px;
  text-transform: lowercase;
}

main {
  margin: 10%; /* Center the main content */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

a {
  font-family: 'Caveat', serif;
  color: var(--main-color-light);
  font-size: 1.1rem;
  font-weight: 700; 
  transition: font-size 0.3s ease;
  text-transform: uppercase; 
  text-decoration: none;
  
  }
  
a:hover {
font-size: 1.2rem; 
}

a:visited {
  color: var(--main-color-dark);
}

ul {
  list-style-type: none;
  display: block;
}

hr {
  border: none;
  border-top: 3px solid var(--grey-color);
  background-color: transparent;
  margin: 20px 0;
}

hr.short {
  width: 40px;
  margin: 25px 0;
}


#hero {
  display: flex;
  align-items: center; 
  background-image: url('images/hero_image-1.png'); /* Set the image as the background */
  background-size: cover; /* Make sure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; 
  text-align: left; /* Center text */
}

#hero .hero-text {
  margin: 10%;
  max-width: 45%;
}

#hero h1 {
  font-family:'Source Sans 3';
  font-size: 4rem;
  font-weight: 00;
  text-transform:lowercase;
  line-height: 1.2;
  margin-left: 0 0 10px 0; 
  
}

#hero ul {
  font-family: 'Source Sans 3';
  list-style-type: none; 
  font-size: rem;
}



@media (max-width: 768px) {
  #hero {
    background-image: none;

  }

  #hero .hero-text {
    max-width: 100vw;
  }
}


#stand-out {
  text-align: left;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

#stand-out p {
  font-size: 3rem;
  color:  #d7dd65;
}


#about-preview p {
    font-size: 1rem;
    margin-bottom: 20px;
}

#work-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--dark-color);
}

.work-item {
  background-color: var(--grey-color);
  color: var(--light-color);
  border: 1px solid var(--main-color-light);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.work-header {
  padding: 20px;
  background-size: cover;
  background-position: center;
  text-align: left;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  text-transform: lowercase;
}

.work-header h3, .work-header p {
  margin: 0;
  color: var(--light-color);
}

.work-details {
  display: none;
  padding: 20px;
  background-color: var(--dark-color);
}

.work-details p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.work-details img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 5px;
}

.expanded .work-details {
  display: block;
}

.expanded .work-header {
  border-bottom: 1px solid var(--main-color-light);
}


footer {
  bottom: 0;
  z-index: 1000;
}

footer #stand-out{
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 5vw;
}

footer p {
  margin: 20px 5vw;
}

#contact-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--main-color-light);
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Caveat';
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for future hover effects */
}

#contact-box a {
  line-height: 3;
  font-family: 'Caveat';
  color: #f2f2f2;
  font-size: 1.5rem; 
  margin: 5vw; 
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}

#contact-box a i {
  margin-left: 10px; /* Space between text and arrow */
  transition: margin-left 0.5s ease;
}

#contact-box:hover{
  cursor: pointer;
  background-color: #131313;
}

#contact-box:hover a i {
  margin-left: 35px; 
}


ul.socials {
  display: flex; 
  gap: 15px;
  margin-left: 5vw;
  padding-top: 10px;

}

ul.socials li a img {
  width: 40px; 
  height: 40px; 
  display: inline-block; 
  vertical-align: bottom; 
  padding: 0;
  margin: 0;
  
}

#footer-info {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#footer-info img {
  height: 100px; 
  width: auto;
  
}

#footer-info ul {
  font-size: 0.8rem;
  line-height: 2;
  margin-left: 5vw;
}

@media (max-width: 768px) {
  #footer-content {
      flex-direction: column; 
      align-items: flex-start; 
  }

  ul.socials, ul.contact-info {
    margin-bottom: 20px; 
}

  #footer-logo {
  margin: 0 auto; /* Center the logo on small screens */
  }
}
