@font-face {
  font-family: 'DM Sans';
  src: url('https://kolehmaineniina.github.io/fonts/DMSans[opsz,wght].ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('https://kolehmaineniina.github.io/fonts/DMSans[opsz,wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'DM Sans';
    src: url('https://kolehmaineniina.github.io/fonts/DMSans[opsz,wght].ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  

@font-face {
    font-family: 'Source Sans 3';
    src: url('https://kolehmaineniina.github.io/fonts/SourceSans3[wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Source Sans 3';
    src: url('https://kolehmaineniina.github.io/fonts/SourceSans3[wght].ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Caveat';
    src: url('https://kolehmaineniina.github.io/fonts/Caveat[wght].ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
  font-family: 'Caveat';
  src: url('https://kolehmaineniina.github.io/fonts/Caveat[wght].ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark-color: #151515;
  --grey-color-dark: #2c2c2c;
  --grey-color-light: #a0a0a0;
  --light-color: #e0e0e0;
  --main-color-dark: #a49e12;
  --main-color-light: #d7dd65;
  --accent-color: #6a95de;
  --accent-color-light: hsl(218, 64%, 80%); 
  --accent-color-dark: hsl(219, 40%, 21%);
  --test-color: #6a95de;
}

.light-theme {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.intro-text {
  font-family: 'Lexend';
  font-size: 1.2rem;
  font-weight: 700;
  color:var(--main-color-light)
}

body {
  padding-left: 0;
  margin: 0 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'DM Sans', 'Verdana', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

main {
  margin-top: 50px;

}

h1 {
  font-size: 3rem;
  text-transform: lowercase;
}

.page-title {
  padding: 50px 10vw 0 10vw;
}

h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 2.5rem;
  text-transform: lowercase;
  
}

h3 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}


a {
  font-family: 'Caveat', sans-serif;
  color: var(--main-color-light);
  font-size: 1.3rem;
  font-weight: 700; 
  transition: font-size 0.3s ease;
  text-transform: uppercase; 
  text-decoration: none;
  
  }
  
a:hover {
font-size: 1.2rem; 
}

main a:visited {
  color: var(--main-color-dark);
}

ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

hr {
  border: none;
  border-top: 2px solid var(--main-color-dark);
  background-color: transparent;
  margin: 25px 0;
}

hr.short {
  width: 40px;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0vw;
  z-index: 1000;
  height: 50px;
  width: 100%;
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--main-color-light);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 95%;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none; 
  gap: 10px;
  margin: 0; 
  padding: 0;
}

nav li {
  margin: 0;
}

nav a {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--light-color);
  padding: 0;
  margin: 0;
}

nav a:hover {
  font-size: 1.3rem; 
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

#nav-links {
  display: flex; 
  justify-content: space-between;
}

@media (max-width: 768px) {

  .container {
    max-width: 90vw;
  }

  #nav-links {
    display: none; 
    flex-direction: row;
    flex-wrap: wrap; 
    position: absolute;
    top: 50px;
    padding-bottom: 7px; 
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    border-bottom: 1px solid var(--main-color-light);
    justify-content: center;
    text-align: center;
    gap: 15px;
    z-index: 1001;
  }

  #nav-links a {
    font-size: 1.2rem; 

  }
  #nav-links a:hover {
    font-size: 1.3rem; 
  }
  nav ul li {
  padding-bottom: 5px;
  }

  .hamburger {
    display: block; 
  }
  
  #nav-links.active {
    display: flex; 
  }
}
  
nav #logo {
  display: flex;
  align-items: center;
  height: 50%;
}

nav #logo a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none; /* Remove underline from the link */
}

nav #logo img {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}
  

#hero {
  display: flex;
  align-items: center; 
  background-image: url('images/hero_image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: calc(100vh - 50px);
  width: auto;
  padding-top: 50px;
  overflow: hidden;
}

#hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  justify-content:space-between;
  gap:5%;
  margin-left: 5vw;
  
}

#hero-text-1 {
  border: double 3px;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin-top: 5vw;
}

#hero h1 {
  font-family:'Lexend';
  font-size: 1.5rem;
  font-weight: 200;
  text-transform:uppercase;
  color: var(--main-color-light);
  line-height: 1.5;
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 10px;

}

#hero-text-2 {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 10px;
}

#hero-text-2 h2  {
  font-size: 4rem;
  font-family:'Lexend';
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;

}

#hero-text-2 p {
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

@media (max-width: 768px) {

  #hero {
    background-color: #8b7f7f;
    background-image: none;
    height: 100vh;
    justify-content: center;
  }
  
  #hero-text {
    margin-left: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: auto;
    align-items: center;
    background-color: #6a95de;
    text-align: center;
  }

  #hero-text-2 h2{
    font-size: 3.5rem;

  }

  #hero-text-2 p {
    align-self: center;
  }

}

.signature {
  font-family: 'Caveat';
  font-size: 1.8rem;
  font-style: italic;
}

#stand-out {
  text-align: left;
  font-family: 'DM sans', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color:  #d7dd65;
  padding: 10px 10vw 10px 10vw;
}


@media (max-width: 768px) {
  #stand-out p {
    line-height: 1.3;
  }
}

#about-preview {
  padding: 10px 10vw 10px 10vw;
}

#about-preview p {
  font-size: 1rem;
  margin-bottom: 30px;
  margin-top: 10px;
}

#work-preview {
  padding: 10px 10vw 10px 10vw;
}

#about-content-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  align-items: stretch;
  padding: 50px 10vw 80px 10vw;
  justify-content: center;
  background-color: var(--accent-color);
}

@media (max-width: 768px) {
  #about-content-main {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the items on smaller screens */
  }

  #about-content-main-image, #about-content-main-texts {
    width: 100%; /* Flex items take full width on small screens */
  }

  #about-content-main-image img {
    width: 100%; /* Ensure the image scales properly on small screens */
  }
}

#about-content-main-image {
  flex: 0 1 30%;
}

#about-content-main-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#about-content-main-texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*
#process-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  #process-items {
      grid-template-columns: 1fr;
  }
*/

#design-process {
  padding: 50px 10vw 50px 10vw;
}

#process-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#process-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}


#item-number {
  font-family: 'Dm Sans';
  font-size: 6rem;
  color: var(--accent-color);
  text-align: start;
  line-height: 1;
  margin: 0;
  padding: 0;
  
}

#item-content p {
  border-left: solid 2px;
  border-top: solid 2px;
  padding: 20px;
  background: linear-gradient(160deg, var(--accent-color) 5%, var(--accent-color-dark) 20%, var(--dark-color) 50%);
}

#item-content h3 {
  text-transform: uppercase;
  font-weight: 300;
}

#about-outro {
 background-color: #2c2c2c;
 padding: 50px 0;
 text-align: center;
}

#about-outro h3, #about-outro p {
  padding: 0 10vw 0 10vw;
  font-size: 1.5rem;

}
/*
#item-content {
  background-color: whitesmoke;
  color: var(--dark-color);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}
*/

#work-intro {
  padding: 50px 10vw 80px 10vw;
}

#work-projects {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;                     
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0;
}

@media (max-width: 768px) {
  #work-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

}
             
.work-item {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.work-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #1a1a1a;
  
}

.work-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  text-align: center;
  font-family: 'Dm sans', sans-serif;
  font-weight: 700;
  
}

.work-header-image {
  flex: 2 1 auto;
  padding: 20px 0;
  width: 100%;   /* Make the image take full width of the header */
  height: auto;  /* Maintain the image's aspect ratio */
  overflow: hidden; /* Hide any overflow to ensure containment */
}

.work-header-image img {
  width: 100%;    /* Ensure the image takes the full width of the container */
  height: 100%;   /* Ensure it stretches to the height of the container */
  object-fit: cover; /* This will ensure the image covers the container, cropping if necessary */
}

.work-header-text {
  flex: 1 2 auto;
  width: 100%;
}

.work-header h3 {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  font-family: 'dm sans';
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: var(--accent-color-light);
}

.work-header p {
  margin: 0;
  padding: 15px;
  font-family: 'dm sans';
  font-size: 1;
  font-weight: 500;
  line-height: 1.1;
  color: var(--light-color);
  border-radius: 5px;
}

.work-details {
  margin: 0;
  display: none;
  padding: 5px 20px;
  padding-bottom: 15px;
  text-align: center;
  font-size: smaller;
}

.work-details p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--light-color);
  margin: 0;
}


.expanded .work-details {
  display: block;
}

.expanded .work-header {
  border-bottom: 1px solid gray; 

}


#contact {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: left; /* Center content horizontally */
  text-align: flex-start; 
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 0;
  background-color: var(--light);
}


#contact-stand-out {
  font-family: 'DM sans', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color:  #d7dd65;
  margin: 0 10vw;

}

#contact-text {
  padding-top: 15px;
  line-height: 1.5;
  margin: 0 10vw;
  color: var(--light-color);
}

footer {
  margin-bottom: 30px;
  width: 100%;
}

#contact-box {
  max-width: 100vw;
  height: 80px;
  line-height: 80px;
  border-top: 4px double;
  border-bottom: 4px double;
  border-color: var(--grey-color-light);
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for future hover effects */
}

#contact-box a {
  text-decoration: none;
  line-height: 3;
  font-family: 'source sans 3';
  font-weight: 500;
  font-style: italic;
  color: var(--light-color);
  font-size: 1.5rem; 
  margin: 10vw; 
  transition: color 0.5s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}


#contact-box a i { 
  margin-left: 8px;
  transition: margin-left 0.5s ease;
}

#contact-box:hover{
  cursor: pointer;
  background-color: var(--grey-color-dark);
}


#contact-box:hover a i {
  margin-left: 35px; 
}

#footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Vertically centers all items */
  text-align: center;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  gap:30px;
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; 

}

ul.contact-info {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding-left: 0;
}

ul.socials {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 0 0 0;
}


ul.socials li a img {
  max-width: 50px;
  height: auto;
  display: block; /* Ensure it's treated as a block element */ 
}


#footer-logo { /* Specific ID for logo image */
  height: auto; /* Adjust logo size as needed */
  width: 40px;
}

@media (max-width: 768px) {
  #footer-info {
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center align content */
  }
}


